@include describe('breakpoint($query, [$query_max]) mixin') {
    @include it('Returns @media breakpoint with given $query') {
        @include assert {
            @include output {
                @include breakpoint('xl') {
                    background: red;
                }
            }

            @include expect {
                @media screen and (min-width: 1300px) {
                    background: red;
                }
            }
        }
    }
}

@include describe('breakpoint($query, [$query_max]) mixin') {
    @include it('Returns @media breakpoint with given $query and given $query_max') {
        @include assert {
            @include output {
                @include breakpoint('xl', 'xxl') {
                    background: red;
                }
            }

            @include expect {
                @media screen and (min-width: 1300px) and (max-width: 1700px) {
                    background: red;
                }
            }
        }
    }
}
