/**
 * -------------------------------------------------------------------------
 * Default configuration values.
 * -------------------------------------------------------------------------
 */

/**
 * Breakpoint identifiers and sizes.
 *
 * @type {Map}
 */
$toolbox-breakpoints: (
    'xs': 500px,
    'sm': 700px,
    'md': 900px,
    'lg': 1100px,
    'xl': 1300px,
    'xxl': 1700px
) !default;

/**
 * Color identifiers and values.
 *
 * @type {Map}
 */
$toolbox-colors: (
    'black': #000000,
    'white': #ffffff
) !default;

/**
 * Typography ratio.
 *
 * @type {Integer}
 */
$toolbox-typo-ratio: 1.2 !default;

/**
 * Typography sizes.
 */
$toolbox-typo-sizes: (
    'xxs': -3,
    'xs': -2,
    's': -1,
    'm': 0,
    'l': 1,
    'xl': 2,
    'xxl': 3,
    'xxxl': 4
) !default;
