/**
 * -------------------------------------------------------------------------
 * Default configuration values.
 * -------------------------------------------------------------------------
 */

/**
 * Breakpoint identifiers and sizes.
 *
 * @type {Map}
 */
$toolbox-breakpoints: (
    'xs': 500px,
    'sm': 700px,
    'md': 900px,
    'lg': 1100px,
    'xl': 1300px,
    'xxl': 1700px
) !default;

/**
 * Color identifiers and values.
 *
 * @type {Map}
 */
$toolbox-colors: (
    'black': #000000,
    'white': #ffffff
) !default;

/**
 * Typography base font-size.
 *
 * @type {Integer} (rem, em, px, pt, %)
 */
$toolbox-typo-base: 1rem !default;

/**
 * Typography ratio.
 *
 * @type {Integer}
 */
$toolbox-typo-ratio: 1.2 !default;

/**
 * Typography sizes.
 *
 * @type {Map}
 */
$toolbox-typo-sizes: (
    'xxs': (-3, 1.4),
    'xs': (-2, 1.4),
    's': (-1, 1.4),
    'm': (0, 1.4),
    'l': (1, 1.4),
    'xl': (2, 1.4),
    'xxl': (3, 1.4),
    'xxxl': (4, 1.4)
) !default;
